* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  cursor: none;
}

h1 {
  font-family: monospace;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
canvas {
  display: block;
}
